<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        fileName="logs\log.log" footer="=========================================================================================================================================================================="
        formatter="Text Formatter" header="=========================================================================================================================================================================="
        rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0"
        timeStampPattern="yyyy-MM-dd" maxArchivedFiles="0" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"
        filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="时间:{timestamp(local)}{newline}&#xA;分类: {category}{newline}&#xA;消息:{message}{newline}&#xA;优先级: {priority}{newline}&#xA;严重程度: {severity}{newline}&#xA;标题:{title}{newline}&#xA;计算机名称: {machine}{newline}&#xA;应用程序域: {appDomain}{newline}&#xA;进程Id: {processId}{newline}&#xA;进程名称: {processName}{newline}&#xA;线程Id: {win32ThreadId}{newline}&#xA;线程名称: {threadName}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="DefaultConnection">
    <providerMappings>
      <add databaseType="CardSolutionHost.Core.SQLiteDatabase, CardSolutionHost"
        name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="ConfigConnection" connectionString="Data Source=|DataDirectory|data.db;Pooling=true;FailIfMissing=false"
      providerName="System.Data.SQLite" />
    <add name="DefaultConnection" connectionString="server=192.168.0.88;database=KLSystemNew;uid=sa;pwd=szKL=09og1927;"
     providerName="System.Data.SqlClient" />
    <!-- <add name="DefaultConnection" connectionString="data source=.;initial catalog=KLSystemNew;User Id = sa;Password=111111"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider For SQLite"
           type="CardSolutionHost.Core.SQLiteDatabase, CardSolutionHost"/>
    </DbProviderFactories>
  </system.data>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />
    
    <assembly name="CardSolutionHost" />
    <namespace name="CardSolutionHost.Interfaces" />
    <namespace name="CardSolutionHost" />
    <namespace name="CardSolutionHost.BLL" />
    <container name="ServicesContainer">
      <extension type="Interception" />
      <register type="IMenJinControler" mapTo="NavigationWorkForm">
        <lifetime type="singleton"/>
      </register>
      <register type="IMenJinHost" mapTo="MainForm">
        <lifetime type="singleton"/>
      </register>
      <register type="IReStartService" mapTo="ReStartService">
        <lifetime type="singleton"/>
      </register>
      <register type="IMenJinRunner" mapTo="MenJinRunner"/>
      <register type="IUdpMsgService" mapTo="UdpMsgService">
        <lifetime type="singleton"/>
      </register>
      <register type="IUdpMsgTimerService" mapTo="UdpMsgTimerService">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Lib;" />
    </assemblyBinding>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"  />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>